@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  width: 100%; 
}
.title{
  color: white; 
  text-align: center;
  font-size: 3rem;
}
.content{
  margin: 2rem 0;
}
.footer{
  width: 35%;
}
.footer li{
  text-align: left;
}
.footer button{
  align-content: 
}