@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  width: 100%; 
}
.title{
  color: white; 
  text-align: center;
  font-size: 3rem;
}
/*.content{
  width: 45%;
  margin: 1rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}*/